<div class="row u-mt-xlarge#">
  <div class="col-12">
    <p>
      <b>
        For Mentorship:
      </b>
    </p>
    <p>
       Are you an international student or have you already finished your higher study from a country other than your home country and do you still live overseas? Do you want to share your overseas experiences with prospective international students like you? Do you want to spread your knowledge and network with a large number of international students and professionals around the world? Do you want to work in your free time with full of freedom just as like as a freelancer? If yes, then you can work with a flexible working schedule that you will set-up on your own. Whenever you will get free time besides your studies and work, you can complete your task from anywhere connected with the Internet. Once you get selected as a mentor, you will get full guidelines and support from Abroad Inquiry team. If you are a passionate person and seemed like an exciting job for you, then you can apply now!
    </p>
  </div>
</div>

<br>

<div class="row u-mt-xlarge#">
  <div class="col-12">
    <p>
      <b>
        Your Responsibility:
      </b>
    </p>
    <p>- You will talk with prospective students over Skype after fixing the meeting according to your flexible time..</p>
    <p>- During your conversation, you will share the related factual information to the students so that the student can learn about the university, course, study environment, part-time job, internships, full-time working opportunities. The essential guidelines on how to prepare the papers that student needs for the application.</p>
    <p>- You have to provide the guidelines on how to write the motivation letter or cover letter and check them. Besides, guiding the aspirants to arrange all required papers such as IELTS, recommendation letter, academic certificate, motivation letter and so on.</p>
    <p>- Further, you have to guide on how to organize the financial documents i.e., bank statements and solvency certificates.</p>
    <p>- You have to apply on behalf of a student to their preferred university for admission; moreover, you need to complete the application form on behalf of student so that student can submit the papers to the embassy. Besides, you have to provide visa grooming to the aspirants (if required).</p>
    <p>- Later, once your students arrive in your country, you may guide how to get accommodation, a part-time job, or probably you may often guide how to be successful on the exam. (Optional)</p>
    <p>- Often, you have to attend our international study seminar, fair or relevant events.</p>
    <p>- Often you may write few studies, work and abroad related blogs or create vlogs so that students can easily reach you.</p>
    <p>- Finally, you will work as a freelancer; therefore, there is no responsibility before you take any task on your hand.</p>
  </div>
</div>

<br>

<div class="row u-mt-xlarge#">
  <div class="col-12">
    <p>
      <b>
        Your Benefit:
      </b>
    </p>
    <p>- You will get 70% of the money that we charge for initial guidelines.</p>
    <p>- You will get 50% of the money that we charge for an entirely successful application. The payment depends on the country you are working for.</p>
    <p>- you will get 10% of the money for your referral bonus, if you refer any aspirants to Abroad Inquiry for a complete application. (Once the application became successful you will get your bonus!).</p>
    <p>- You will get a bonus for every complete blogs and vlogs.</p>
    <p>- You can complete as much as application on your free time. More you accomplish application more you earn as you are working freelancer basis with Abroad Inquiry.</p>
    <p>- Plane fare and accommodation costs along with a bonus for international seminars and activities.</p>
    <p>- You will increase your network around the world.</p>
    <p>N.B. Without successful application, you will not get a referral bonus and application fees from us. (Because we do not charge to the clients for unsuccessful application)</p>
  </div>
</div>

<br>

<div class="row u-mt-xlarge#">
  <div class="col-12">
    <p>
      <b>
        Qualification:
      </b>
    </p>
    <p>- You are fluent in English. (If you know the local language that will increase your chance).</p>
    <p>- You are living that country a minimum of one year and you have completed your degree or you are studying or you have finished your degree and currently working in that country.</p>
    <p>- Running bachelor student also advised to apply, if you have completed a minimum of two years of your study.</p>
    <p>- You have to know how to get admission because you have to apply on behalf of clients.</p>
    <p>- You have to complete the visa application to the selective embassy on behalf of the student. In addition, you have to provide visa grooming to your candidates.</p>
    <p>N.B. A short course or exchange students will not count as a prospective mentor. But if you have additional courses and a degree from another university, you advised to add with your profile.</p>
    <br>
    <p>Therefore, if you think you would like to work with Abroad Inquiry, then apply now.</p>
    <p>
      After your application please send us your required papers via email: abroadinquiry100@gmail.com.
      If you have any questions, then do not hesitate to contact with us via: abroadinquiry100@gmail.com
    </p>
  </div>
</div>