<div class="row u-mt-xlarge#">
  <div class="col-12">
    <p>
      <b>
        For Mentorship:
      </b>
    </p>
    <p>
       Are you an international student, or did you finish your study from abroad? 
       Do you want to share your abroad experiences with prospective students?
       Do you want to spread your network with international students and professionals around the
      world? 
       Do you want to work with full of freedom as a freelancer?
       If yes, then you will work with us with a flexible working schedule that you will set-up your
      own. While you will get free time besides your studies and work, you can complete your task
      from home. Once you get selected as a mentor at Abroad Inquiry, you will get full guidelines and
      support from Abroad Inquiry and how to work professionally, if you are a sensible person and
      seemed like an exciting job for you, then apply now!
    </p>
  </div>
</div>

<br>

<div class="row u-mt-xlarge#">
  <div class="col-12">
    <p>
      <b>
        Your Responsibility:
      </b>
    </p>
    <p>- You will talk with prospective students over Skype after fixing the meeting.</p>
    <p>
      - During your conversation, you will share the related factual information to the students so that
      the student can understand the study environment, facilities, part-time job, internships, full-time
      working opportunities and most important papers that student needs to prepare for application.
    </p>
    <p>- You have to provide the guidelines on how to write the motivation letter or cover letter and
      check them.
    </p>
    <p>
      - Guiding the aspirants to arrange all required papers such as IELTS, recommendation letter,
      academic certificate and so on.
    </p>
    <p>
      - Further, you have to guide how to organize the financial documents i.e. bank statements and
      solvency certificates.
    </p>
    <p>
      - You have to apply on behalf of a student to the preferred university for admission and
      application to the embassy for the visa (if required).
    </p>
    <p>
      - Later, once your students arrive in your country, you have to guide how to get accommodation,
      a part-time job, or probably you may often guide how to be successful on the exam.
    </p>
    <p>- Usually, you have to attend our international study seminar, fair or relevant event.</p>
    <p>- Finally, you often may write or make few studies, work and abroad related blogs or vlogs so
      that students can easily reach you.
    </p>
  </div>
</div>

<br>

<div class="row u-mt-xlarge#">
  <div class="col-12">
    <p>
      <b>
        Your Benefit:
      </b>
    </p>
    <p>
      - You will get the right amount of money every successful application. It depends on the country
      you are working for.
    </p>
    <p>
      - You will get a certificate (recommendation letter) from Abroad Inquiry, which you can put on
      your resume.
    </p>
    <p>- Reference bonus and successful application bonus.</p>
    <p>
      - Plane fair and accommodation costs along with a bonus for international seminars and
      activities.
    </p>
    <p>
      - You will get a bonus for every blog and vlogs.
    </p>
    <p>
      - You will work as a freelancer; therefore, there was no stress before you take any task on your
      hand.
    </p>
    <p>- You will increase your network around the world.</p>
    <p>N.B. Without any successful application, you will not get money from us. (Depends on the
      country you work for)</p>
  </div>
</div>

<br>

<div class="row u-mt-xlarge#">
  <div class="col-12">
    <p>
      <b>
        Qualification:
      </b>
    </p>
    <p>- You are fluent in English.</p>
    <p>- You are living abroad a minimum of one year and you have completed your degree.</p>
    <p>
      - Running bachelor student also advised applying if you have completed a minimum of two
      years of your study.
    </p>
    <p>- You have to know how to get admission to the university.</p>
    <p>- You have to see the visa application to the selective embassy.</p>
    <p>N.B. A short course or exchange will not count as a prospective mentor.</p><br>
    <p>Therefore, if you think you would like to work with Abroad Inquiry, then apply now.</p>
  </div>
</div>