<div class="c-card">
  <h4>Payments</h4>
  <p class="u-mb-medium">Add or remove a payout method</p>

  <div class="o-media u-mb-small">
    <div class="o-media__img u-mr-xsmall">
      <img src="<%= asset_path('paypal.svg') %>" alt="PayPal">
    </div>

    <div class="o-media__body u-flex u-justify-between">
      <p>adam@sandler.com</p>
      <a class="u-text-small" href="user-profile.html#">Remove</a>
    </div>
  </div>

  <div class="o-media u-mb-small">
    <div class="o-media__img u-mr-xsmall">
      <img src="<%= asset_path('stripe.svg') %>" alt="Stripe">
    </div>

    <div class="o-media__body u-flex u-justify-between">
      <p>adam@sandler.com</p>
      <a class="u-text-small" href="user-profile.html#">Remove</a>
    </div>
  </div>

  <div class="o-media">
    <div class="o-media__img u-mr-xsmall">
      <img src="<%= asset_path('bank.svg') %>" alt="Bank">
    </div>

    <div class="o-media__body u-flex u-justify-between">
      <p>xxxx-5623</p>
      <a class="u-text-small" href="user-profile.html#">Remove</a>
    </div>
  </div>
</div>