<% content_for :header_for_mentor do %>
  <header class="c-navbar u-mb-medium">
    <h2 class="c-navbar__title">
    <%= link_to 'Abroad Inquiry', root_path %>
    </h2>
  </header>
<% end %>

<div class="row u-mt-xlarge#">
  <div class="col-12">
    <h3 class="u-mb-small">Application for being a mentor of Abroad Inquiry</h3>
  </div>
</div>
<%= render 'mentor_requirments' %>
<br>
<%= render 'mentor_request_form' %>
<%#= render 'old_mentor_request_form' %>