<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= render 'user_descriptin' %>
      <%= render 'user_activity' if current_user.id == @user.id %>
      <%= render 'user_schedules' unless current_user.id == @user.id %>
    </div>

    <div class="col-md-5">
      <%= render 'user_profile' %>
      <%#= render 'user_payment' %>
    </div>
  </div>


</div>


