<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= render 'user_descriptin' %>
      <%= render 'user_activity_and_schedules' %>
    </div>

    <div class="col-md-5">
      <%= render 'user_profile' %>
      <%#= render 'user_payment' %>
    </div>
  </div>
</div>