<div class="row u-mt-xlarge">
  <div class="col-12">
    <h3 class="u-mb-small">Edit Schedule</h3>
  </div>
</div>
<!--
#  start_time    :datetime
#  end_time      :datetime
#  mentor_id     :integer
#  created_by    :string
#  user_id       :integer
#  status        :string
#  student_id    :integer
#  is_paid       :boolean
#  schedule_cost :float -->

<div class="row">
  <div class="col-12">
    <div class="row u-mb-medium">
      <div class="col-12">
        <div class="c-card">
          <%= render 'form', submit: 'Update' %>
        </div>
      </div>
    </div>
  </div>
</div>