<div class="row u-mt-xlarge">
  <div class="col-12">
    <h3 class="u-mb-small">Edit Schedule</h3>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row u-mb-medium">
      <div class="col-12">
        <div class="c-card">
          <%= render 'form', submit: 'Update' %>
        </div>
      </div>
    </div>
  </div>
</div>