<div class="row u-mt-xlarge">
  <div class="col-12">
    <h3 class="u-mb-small">New Schedule</h3>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row u-mb-medium">
      <div class="col-12">
        <div class="c-card">
          <h5>Please follow carefully. Put your time for every thirty minutes.</h5>
          <p>1. Select the start date and time.</p>
          <p>2. Select the end date and time.</p>
          <p>3. You can tick mark in order to get payment. Bear in mind that if you do not tick on the box then we are
            unable to pay you for that schedule.</p>
          <br />
          <%= render 'form', submit: 'Create' %>
        </div>
      </div>
    </div>
  </div>
</div>