<section class="page-heading-section bg-image before-bg" style="background-image: url(<%= asset_path('header/p-header4.jpg') %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-heading">
          <h2 class="page-name text-capitalize">about us</h2>
        </div><!--/.page-heading-->
      </div><!--/.col-md-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.page-heading-area-->

<div class="about-page page-wrapper">
  <section id="standard-section" class="our-standard-section s-pd1">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-8">
          <div class="section-heading-area text-center">
            <h2 class="section-heading">Abroad Inquiry</h2>
          </div>
        </div><!--/.col-lg-8-->
      </div><!--/.row-->
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div id="accordion" class="our-standard-content" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default single-standard">
              <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel">
                <div class="single-standard-content">
                  <p>
                    Abroad Inquiry was born in 2017 from an altruist Facebook group which has helped hundreds of international students to pursue higher study from all around the world. Abroad Inquiry is a community-based platform runs by a group of International students from different countries. Why Abroad Inquiry was born? The common thing that we noticed that students are being provided with false information from unauthentic sources and it results in the refusal of their visa application. This is not a refusal; we think it’s a death of a dream. Here at our Abroad Inquiry, we provide all factual true information related to higher study abroad that we have acquired from our real-life experience and thorough researches. We believe that a current student who has already gone through the hectic process of study abroad journey, they can be the best source of information and understand the situation better than others and information obtained is more authentic compared to online sources or any other student consultancy firms. Thus, we have built this platform to help upcoming students.
                  </p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-standard-->


            <div class="panel panel-default single-standard">
              <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel">
                <div class="single-standard-content">
                  <p>
                    During our last three years of consecutive support provided to the aspirants, we have gathered a vast amount of experience in various problems which students usually face. Our mentors are already graduated from top notch universities of different countries and some of them are working at reputed companies who are working relentlessly to ease the journey of potential future students.
                  </p>
                  <p>
                    However, we took this decision to serve upcoming students because as being an international student, we experienced the same thing before going to a new place such as lack of information, difficulty in getting admission, preparation of necessary documents as per the requirement of respective university and visa consular office. We have an expert team of passionate individuals who are professional to make your dream of study abroad into a reality. Furthermore, we also provide comprehensive support to manage housing, part-time job, study guidelines, guidelines to get PR and so on.
                  </p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-standard-->

            <div class="panel panel-default single-standard">
              <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel">
                <div class="single-standard-content">
                  <p>
                    In a nutshell, our company provides complete support from admission to settlement in a foreign country. Students will get all the support and motivation from our mentors who run this company. Therefore, let’s get in touch with us from the very first day of your planning stage.
                  </p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-standard-->

          </div><!--/.our-standard-content-->
        </div><!--/.col-lg-6-->
      </div><!--/.row-->
    </div><!--/.container-->
  </section><!--/.page-heading-area-->
</div>