<section class="page-heading-section bg-image before-bg" style="background-image: url(<%= asset_path('header/p-header4.jpg') %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-heading">
          <h2 class="page-name text-capitalize">about us</h2>
        </div><!--/.page-heading-->
      </div><!--/.col-md-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.page-heading-area-->

<div class="about-page page-wrapper">
  <section id="standard-section" class="our-standard-section s-pd1">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-8">
          <div class="section-heading-area text-center">
            <h2 class="section-heading">our standard</h2>
          </div>
        </div><!--/.col-lg-8-->
      </div><!--/.row-->
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <a href="https://www.youtube.com/watch?v=Ey1lkwYGSC0" class="video-btn before-bg">
            <img class="img-fluid border-radius" src="<%= asset_path('standard-video.jpg') %>" alt="img">
            <span class="play-icon">
                                <i class="fa fa-play-circle-o"></i>
                            </span>
          </a>
        </div><!--/.col-lg-6-->
        <div class="col-lg-6 col-md-12">
          <div id="accordion" class="our-standard-content" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default single-standard">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="about.html#collapseOne">I’m not creative, should I take this course?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel">
                <div class="single-standard-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-standard-->
            <div class="panel panel-default single-standard">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="about.html#collapseTwo">What Design Thinking?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel">
                <div class="single-standard-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-standard-->
            <div class="panel panel-default single-standard">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="about.html#collapseThree">What does the course tuition go towards?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel">
                <div class="single-standard-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-standard-->
          </div><!--/.our-standard-content-->
        </div><!--/.col-lg-6-->
      </div><!--/.row-->
    </div><!--/.container-->
  </section><!--/.page-heading-area-->
</div>