<section class="page-heading-section before-bg bg-image" style="background-image: url(<%= asset_path('header/p-header2.jpg') %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="page-heading">
          <h2 class="page-name text-capitalize">FAQ</h2>
        </div><!--/.page-heading-->
      </div><!--/.col-md-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.page-heading-area-->

<div class="faq-page page-wrapper s-pd125">
  <div class="faq-resourse-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-6">
          <div class="single-resourse box text-center border-radius">
            <span class="fa fa-user"></span>
            <h3>GET STARTED</h3>
            <p>Lorem ipsum ncid labore et dolore magna aliqua</p>
          </div><!--/.single-resourse-->
        </div><!--/.col-lg-3-->
        <div class="col-lg-3 col-md-6 col-6">
          <div class="single-resourse box text-center border-radius">
            <span class="fa fa-user"></span>
            <h3>DOCUMENTARY</h3>
            <p>Lorem ipsum ncid labore et dolore magna aliqua</p>
          </div><!--/.single-resourse-->
        </div><!--/.col-lg-3-->
        <div class="col-lg-3 col-md-6 col-6">
          <div class="single-resourse box text-center border-radius">
            <span class="fa fa-user"></span>
            <h3>forums</h3>
            <p>Lorem ipsum ncid labore et dolore magna aliqua</p>
          </div><!--/.single-resourse-->
        </div><!--/.col-lg-3-->
        <div class="col-lg-3 col-md-6 col-6">
          <div class="single-resourse box text-center border-radius">
            <span class="fa fa-user"></span>
            <h3>ACCOUNT</h3>
            <p>Lorem ipsum ncid labore et dolore magna aliqua</p>
          </div><!--/.single-resourse-->
        </div><!--/.col-lg-3-->
      </div><!--/.row-->
    </div><!--/.container-->
  </div><!--/.faq-resourse-area-->

  <div class="faq-questions-area">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-8">
          <div class="section-heading-area text-center">
            <h2 class="section-heading text-capitalize">frequently asked questions</h2>
          </div><!--/.section-heading-area-->
        </div><!--/.col-lg-8-->
      </div><!--/.row-->

      <div class="row">
        <div class="col-lg-12">
          <div class="faq-content-area" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseOne">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->

            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseTwo">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->

            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseThree">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->

            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseFour">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->

            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseFive">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->

            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseSix">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapseSix" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->
            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseSeven">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->

            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseEight">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapseEight" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->
            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapse9">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapse9" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->
            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapse10">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapse10" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->

            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapse11">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapse11" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->

            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapse12">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapse12" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->

            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapse13">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapse13" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->

            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapse14">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapse14" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->
            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapse15">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapse15" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->

            <div class="panel panel-default single-faq">
              <div class="panel-heading" role="tab">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapse16">Etiam sit amet orci eget eros faucibus tincidunt?</a>
                </h3>
              </div><!--/.panel-heading-->
              <div id="collapse16" class="panel-collapse collapse" role="tabpanel">
                <div class="single-faq-content">
                  <p>Replace the dummy content here with your own question and answer. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, laborum. Dignissimos ipsam saepe inventore consequuntur nisi aliquam, optio odit amet! Quaerat excepturi doloremque, dolorem, rem laboriosam accusamus reiciendis consectetur aut! Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div><!--/.panel-collapse-->
            </div><!--/.single-faq-->
          </div><!--/.faq-content-area-->
        </div>
      </div>
    </div>
  </div>

  <div class="faq-question-form-area">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-8">
          <div class="section-heading-area text-center">
            <h2 class="section-heading text-capitalize">Didn’t find the answer?</h2>
          </div><!--/.section-heading-area-->
        </div><!--/.col-lg-8-->
      </div><!--/.row-->
      <div class="row">
        <div class="col-md-12">
          <div class="faq-question-form-content border-radius" style="background-image: url(images/contact-bg.jpg);">
            <form class="contact-form-area border-radius" id="question-form">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Your Full Name">
                  </div>
                </div><!--/.col-lg-6-->
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                  </div>
                </div><!--/.col-lg-6-->
                <div class="col-lg-12">
                  <div class="form-group">
                    <input type="text" class="form-control" id="subject" placeholder="Your Subject">
                  </div>
                </div><!--/.col-lg-12-->
                <div class="col-lg-12">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Message"></textarea>
                  </div>
                </div><!--/.col-lg-12-->
                <div class="col-lg-12">
                  <div class="form-group">
                    <button type="submit" class="btn btn-default">SEND TO US</button>
                  </div>
                </div><!--/.col-lg-12-->
              </div><!--/.row-->
            </form><!--/.contact-form-area-->
          </div>
        </div>
      </div>
    </div><!--/.container-->
  </div><!--/.faq-answer-area-->
</div>