<!--=======Page Heading
===============================================-->
<section class="page-heading-section before-bg bg-image" style="background-image: url(<%= asset_path('header/p-header4.jpg') %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-heading">
          <h2 class="page-name text-capitalize">Privacy and Policy</h2>
        </div><!--/.page-heading-->
      </div><!--/.col-md-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.page-heading-area-->


<div class="events-details-page page-wrapper s-pd100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <article class="single-event-area">
          <h2>Our Privacy and Policy</h2>
          <div class="event-details">
            <h3>ABOUT THIS EVENT</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean loem massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donectui li quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus utjusto. Nullam dictum.</p>
            <h3>EVENT’S TIMELINE</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean loem massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donectui li quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus utjusto. Nullam dictum.</p>
            <ul class="list-unstyled">
              <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
              <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</li>
              <li>Nemo enim ipsam voluptatem quia voluptas sit.</li>
              <li>Neque porro quisquam est, qui dolorem ipsum dolor.</li>
              <li>At vero eos et accusamus et iusto odio dignissimos.</li>
              <li>Et harum quidem rerum facilis est et expedita distinctio.</li>
              <li>Lorem ipsum dolor sit amet, consectetuer .</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean loem massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donectui li quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus utjusto. Nullam dictum.</p>
          </div>
        </article><!--/.single-event-area-->
        <div class="event-social-share text-center">
          <a href="event-details.html#"><i class="fa fa-facebook"></i></a>
          <a href="event-details.html#"><i class="fa fa-twitter"></i></a>
          <a href="event-details.html#"><i class="fa fa-linkedin"></i></a>
          <a href="event-details.html#"><i class="fa fa-google-plus"></i></a>
          <a href="event-details.html#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div><!--/.col-lg-8-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.events-details-page-->