<!--=======Page Heading
===============================================-->
<section class="page-heading-section before-bg bg-image" style="background-image: url(<%= asset_path('header/p-header4.jpg') %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-heading">
          <h2 class="page-name text-capitalize">Privacy and Policy</h2>
        </div><!--/.page-heading-->
      </div><!--/.col-md-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.page-heading-area-->


<div class="events-details-page page-wrapper s-pd100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <article class="single-event-area">
          <h2>Refund Policy</h2>
          <div class="event-details">
            <h3><h3>
              Refund Policy and Service Charge Conditions:
            </h3>
              <p>
                Abroad Inquiry will refund the aspirant’s full registration charge if Abroad Inquiry fails to get the aspirant’s offer letter. 
                In case of visarefusal, Abroad Inquiry will not charge any fees for admission, visa, orregistration cost that Abroad Inquiry charge for
                services. However, if aspirants want to withdraw their application after submitting the paper and after registration from Abroad Inquiry,
                Abroad Inquiry will not refund the aspirant’s registration fees. Further, if Abroad Inquiry can accomplish the application and get the
                positive result (visa) of the application and the applicants do not want to go abroad for applicant’s personal circumstances or any issues,
                then Abroad Inquiry will still charge the service fees and the applicant bound to pay the service fees to Abroad Inquiry. 
                <b>In addition, Abroad Inquiry will not refund the aspirants appointment cost if the aspirants miss the meeting with
                  Abroad Inquiry’s mentor.</b>
                However, if Abroad Inquiry’s mentors miss the appointment with any aspirant, then the aspirant can further book an appointment with
                the same mentor or another mentor according to the applicant’s choice. Even the client can get refunded of the mentor’s appointment cost.
                If aspirants have any questions regarding refund policy and service charge policy, then do not hesitate to
                <a href="/contact" style="color: #ff7f45">contact</a> us. Thank you.
              </p>
            </h3>
          </div>
        </article><!--/.single-event-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.events-details-page-->