<!--=======Page Heading
===============================================-->
<section class="page-heading-section before-bg bg-image" style="background-image: url(<%= asset_path('header/p-header4.jpg') %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-heading">
          <h2 class="page-name text-capitalize">Terms and Conditions</h2>
        </div><!--/.page-heading-->
      </div><!--/.col-md-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.page-heading-area-->


<div class="events-details-page page-wrapper s-pd100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <article class="single-event-area">
          <h2>Terms of Use:</h2>
          <div class="event-details">
            <h3>Welcome to www.abroadinquiry.com. </h3>
            <p>
              All users can easily create an account here to know all the information about studying abroad and can apply through Abroad Inquiry. Abroad Inquiry will be more than happy to inform the prospective students that Abroad Inquiry has experts for all major study destination. The aspirants can make an appointment and talk with them directly. Abroad Inquiry works for many countries that the aspirants can check fromthe website. Users must need to follow some rules and conditions to access Abroad Inquiry's website as detailed below:
            </p>

            <h3>Acceptance of Terms and Conditions:</h3>
            <p>
              By accepting these terms and conditions, you agree that you are minimum 16 years old at the time of registration. If your age is under 16, then you may forbid creating an account on our website but here is a way. Aspirants’ parents or legal guradian may ask for help on behalf of them.
            </p>

            <h3>
              Consummation of The User Agreement:
            </h3>
            <p>
              It means at any time the user can request to delete or ban his/her account. If the aspirants want to delete their account from Abroad Inquiry's web server, the aspirants need to apply for it. You can directly contact Abroad Inquiry. After applying for the deletion of the aspirant's account, Abroad Inquiry will consider of the aspirant's request and within five working days, Abroad Inquiry will delete the aspirant's account.
              Remember that after deleting users account from Abroad Inquiry's server, users can access all of our websites by opening a new account. The old account will not work anymore.
            </p>
            <p>
              N. B. In case of the violation of any rules, Abroad Inquiry can temporarily block your account. If Abroad Inquiry finds any fault from user's end, Abroad Inquiry can permanently delete user's account from the system.
            </p>

            <h3>
              Changes to These Terms:
            </h3>
            <p>
              Abroad Inquiry has the right to change any part of these terms at any time. Users must need to obey that. Users can always check the website for new changes.
            </p>

            <h3>
              Account Security:
            </h3>
            <p>
              By creating an account on Abroad Inquiry's website, the user must need to secure their account. Somehow, if the user loses or forgets the account, immodestly, the user has to contact with us. Abroad Inquiry will help the user to recover their account again. It is a suggestion to the user that they must try to use a secure email address and a strong password for your account. 
            </p>

            <h3>
              Responsibility as a user:
            </h3>
            <p>
              The user must have some responsibility. Responsibilities are given below:
            </p>

            <ul class="list-unstyled">
              <li>Do not try to misuse of our information and websites.</li>
              <li>Abroad Inquiry strongly advised not to involve any sexual harassment, hate speech towards any of the users and staff of Abroad Inquiry. If any of user and staff found guilty according to Bangladesh National Law, Abroad Inquiry will remove his/her position from Abroad Inquiry permanently.</li>
              <li>Make sure that the user knows why the user is accessing Abroad Inquiry's website. </li>
              <li>Do not try to copy any information from this website.</li>
              <li>Be careful when the aspirant will talk with any of Abroad Inquiry's admin or expert. The aspirants must need to be cautious of your language and behaviour. If Abroad Inquiry see any lousy manner, Abroad Inquiry will ban that person.</li>
            </ul>

            <h3>
              Privacy, Data and Cookie Statement:
            </h3>

            <p>
              Abroad Inquire is always strict for the user's personal information not to share with the third party. If Abroad Inquiry intends to share user’s data with the third party, Abroad Inquiry will share the statement and users can always check the announcement on our website. Once users enter the website, Abroad Inquiry will automatically keep user’s data for further contact, promotion and survey purpose. If any users apply for the cancellation/delete of his/her account and data at that time, Abroad Inquiry will delete all of information and data for that person from Abroad Inquiry’s database within five working days.
            </p>

            <h3>
              Refund Policy and Service Charge Conditions:
            </h3>
            <p>
              Abroad Inquiry will refund the aspirant’s full registration charge if Abroad Inquiry fails to get the aspirant’s offer letter. 
              In case of visarefusal, Abroad Inquiry will not charge any fees for admission, visa, orregistration cost that Abroad Inquiry charge for
              services. However, if aspirants want to withdraw their application after submitting the paper and after registration from Abroad Inquiry,
              Abroad Inquiry will not refund the aspirant’s registration fees. Further, if Abroad Inquiry can accomplish the application and get the
              positive result (visa) of the application and the applicants do not want to go abroad for applicant’s personal circumstances or any issues,
              then Abroad Inquiry will still charge the service fees and the applicant bound to pay the service fees to Abroad Inquiry. 
              <b>In addition, Abroad Inquiry will not refund the aspirants appointment cost if the aspirants miss the meeting with
                Abroad Inquiry’s mentor.</b>
                However, if Abroad Inquiry’s mentors miss the appointment with any aspirant, then the aspirant can further book an appointment with
              the same mentor or another mentor according to the applicant’s choice. Even the client can get refunded of the mentor’s appointment cost.
              If aspirants have any questions regarding refund policy and service charge policy, then do not hesitate to
              <a href="/contact" style="color: #ff7f45">contact</a> us. Thank you.
            </p>

            <h5>Last update: 1 March 2020</h5>
          </div>
        </article><!--/.single-event-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.events-details-page-->