<!--=======Courses Page Content
==================================-->
<div class="courses-page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="courses-sidebar">
          <aside class="widget widget-courses-category">
            <h2>Categories</h2>
            <ul class="list-unstyled">
              <li><a href="courses.html#">Design course</a></li>
              <li><a href="courses.html#">Languages</a></li>
              <li><a href="courses.html#">Food Learnind</a></li>
              <li><a href="courses.html#">Driving School</a></li>
            </ul>
          </aside><!--/.widget-courses-category-->
          <aside class="widget widget-courses-level">
            <h2>Age level</h2>
            <ul class="list-unstyled">
              <li><a href="courses.html#">Post-Secondary</a></li>
              <li><a href="courses.html#">Beginner</a></li>
              <li><a href="courses.html#">Expert</a></li>
              <li><a href="courses.html#">Intermediate</a></li>
            </ul>
          </aside><!--/.widget-courses-level-->
          <aside class="widget widget-courses-location">
            <h2>durations</h2>
            <ul class="list-unstyled">
              <li><a href="courses.html#">1 days - 7 days</a></li>
              <li><a href="courses.html#">8 days - 14 days</a></li>
              <li><a href="courses.html#">15 days - 21 days</a></li>
              <li><a href="courses.html#">3 months</a></li>
            </ul>
          </aside><!--/.widget-courses-location-->
          <aside class="widget widget-courses-location">
            <h2>location</h2>
            <ul class="list-unstyled">
              <li><a href="courses.html#">Your city</a></li>
              <li><a href="courses.html#">San Francisco</a></li>
              <li><a href="courses.html#">Ho Chi Minh City</a></li>
              <li><a href="courses.html#">Hong Kong</a></li>
            </ul>
          </aside><!--/.widget-courses-location-->
        </div><!--/.courses-sidebar-->
      </div><!--/.col-lg-3-->