<div class="c-card">
  <%= form_tag update_schedule_booking_path, id: 'schedule-booking-form' do %>
    <%= hidden_field_tag :schedule_id, params[:schedule_id] %>
    <div class="row u-mb-medium">
      <div class="col-lg-12 u-mb-xsmall">
        <div class="c-field">
          <label class="c-field__label" for="input1">Skype</label>
          <%= text_field_tag :skype, nil, class: "c-input", placeholder: 'Enter your skype'%>
        </div>
      </div>
      <div class="col-lg-12 u-mb-xsmall">
        <div class="c-field">
          <label class="c-field__label" for="input1">Phone</label>
          <%= text_field_tag :phone, nil, class: "c-input", placeholder: 'Enter your phone' %>
        </div>
      </div>
    </div>
  <% end %>
</div>