<div>
  <p>Dear Student,</p>
  <p>We hereby confirm your appointment on <%= @start_time.strftime('%d-%m-%Y at %H:%M') %> (GMT +6) with your selected mentor.</p>
  <br />
  <p>If you are unable to meet this appointment or wish to object, please cancel this appointment 48 hours earlier from your dashboard scheduling system.</p>
  <br />
  <br />
  <p>Note: Appointments that are canceled within 48 hours before the mentorship will not be charged. Thank you.</p>
  <br />
  <p>Kind regards,</p>
  <p>Team Abroad Inquiry</p>
  <br />
  <p>E-Mail address: abroadinquiry.bd@gmail.com.</p>
  <p>Phone numbers:</p>
  <p>+8801718-665274</p>
  <p>Address:</p>
  <p>Block: A, House: 53, Road: 1, Niketon, Gulshan 1,</p>
  <p>Dhaka 1212, Bangladesh.</p>
</div>