<!--=======Page Heading
    ==================================-->
<section class="page-heading-section page-heading-one before-bg bg-image" style="background-image: url(<%= asset_path('header/p-header3.jpg') %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="page-heading">
          <h2 class="page-name text-capitalize">Services</h2>
          <!--          <a href="#" class="btn btn-default btn-primary">back to home</a>-->
          <%= link_to "Back to Home", root_path, class: "btn btn-default btn-primary" %>
        </div><!--/.page-heading-->
      </div><!--/.col-md-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.page-heading-area-->


<!--====Courses Section
====================================-->
<section id="courses-section" class="popular-courses-area bg-gray s-pd2">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <div class="section-heading-area text-center">
          <h2 class="section-heading text-capitalize">Popular Countries</h2>
        </div><!--/.section-heading-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->
    <!--    <div class="row">-->
    <!--      <div class="col-lg-12">-->
    <!--        <ul class="list-unstyled popular-filter-nav text-center">-->
    <!--          <li><a class="filter" href="#" data-filter="*">All</a></li>-->
    <!--          <li><a class="filter" href="#" data-filter=".design">Design</a></li>-->
    <!--          <li><a href="#" class="filter" data-filter=".development">Development</a></li>-->
    <!--          <li><a href="#" class="filter" data-filter=".business">Business</a></li>-->
    <!--          <li><a href="#" class="filter" data-filter=".photography">Photography</a></li>-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="row courses-item-content">
      <% @countries.each do |country| %>
        <div class="col-lg-4 col-sm-6 design photography">
          <!--Single Course Item Start-->
          <div class="single-course-item border-radius">
            <div class="course-content">
              <h2>
                <%= link_to country.name, country_path(country) %>
              </h2>
            </div><!--/.course-content-->
          </div><!--/.single-course-item-end-->
        </div><!--/.col-lg-4-->
      <% end %>
    </div><!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="group-btn text-center">
          <a href="/users/sign_up" class="btn btn-default btn-primary">Apply for Study Abroad</a>
          <a href="/scholarships" class="btn btn-default">Apply with Scholarship</a>
        </div><!--/.form-group-btn-->
      </div><!--/.col-lg-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#courses-section-->
