<div class="row">
  <div class="col-12">
    <footer class="c-footer">
      <p>© 2019-20 Abroad Inquary</p>
      <span class="c-footer__divider">|</span>
      <nav>
        <%= link_to 'Terms', '/terms_and_conditions', class: "c-footer__link" %>
        <%= link_to 'Privacy', privacy_and_policy_path, class: "c-footer__link" %>
        <a class="c-footer__link" href="/faq">FAQ</a>
        <a class="c-footer__link" href="/contact">Help</a>
      </nav>
    </footer>
  </div>
</div>