<div class="c-modal modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal2" aria-hidden="true" style="display: none;">
  <div class="c-modal__dialog modal-dialog" role="document">
    <div class="c-modal__content">
      <div class="c-modal__body">
        <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
          <i class="feather icon-x"></i>
        </span>
<!--        <span class="c-icon c-icon--large u-mb-small">-->
<!--          <i class="feather icon-anchor"></i>-->
<!--        </span>-->

        <h3 class="u-mb-small" id="modal-title"></h3>
        <div class="u-mb-medium" id="modal-content-body">xxxx
        </div>
        <div class="o-line">
          <button class="c-btn c-btn--info c-btn--outline" data-dismiss="modal" aria-label="Close">Close</button>
          <button class="c-btn c-btn--info" id="modal-submit">Submit</button>
        </div>
      </div>
    </div><!-- // .c-modal__content -->
  </div><!-- // .c-modal__dialog -->
</div><!-- // .c-modal -->