<!-- ======================= TABLES =======================-->
<div class="row u-mt-xlarge#">
  <div class="col-12">
    <h3 class="u-mb-small">
      <%= link_to 'Create Student Application', new_student_application_path, class: 'c-badge c-badge--small# c-badge--info' if current_user.mentor?%>
      <%= 'Your Applications' if current_user.student? %>
    </h3>
  </div>
</div>

<%= render 'applications_table'%>
